* {
    margin: 0;
    padding: 0;
  }

  body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),url("/imagenes/background-joker.gif"); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position: 50% 50%;
  }

.container a{
  color: #fff;
  margin: 6px;
}

.container header{
  background: transparent !important;
  background-color: #fff;
}

.logo {
  width: 150px;
}

#navbarScroll a:active {
  color: #fff !important;
}

#navbarScroll a:hover {
  color: #bf1b2c;
}

#navbarScroll button {
  border: 1px solid #fff !important;
  background: transparent !important;
  color: #fff;
  }

#navbarScroll button:hover {
  background-color: #bf1b2c;
  color: #bf1b2c;
  border: 1px solid #bf1b2c !important;
  background: transparent !important;
}

.header {
  height: 10%;
}

.text-center {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    height: 50%;
    width: 50%;
}

.header-btn {
  text-decoration: none !important;
  margin-right: 5px;
  border-radius: 30px;
  padding: 7px 20px; 
  float: right;
  color: #fff !important;
  background: #bf1b2c;
  font-weight: 600;
}

.header-boton {
    text-decoration: none !important;
    margin-right: 5px;
    border-radius: 30px;
    padding: 7px 20px; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff !important;
    background: #bf1b2c;
  }

.contenido {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: rgba(0, 0, 0, 0.063);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 18px;
}

.row p{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

 #universal {
    width: 290px;
    height: 140px;
 }

 #marvel {
    margin-top: 38px;
    width: 210px;
    height: 100px;
 }

 #warner {
    width: 170px;
    height: 190px;
 }

 #anime {
    margin-top: 30px;
    width: 220px;
    height: 160px;
 }

 .row {
    display: flex;
    justify-content: center;
    align-items: center;
 }

@media (max-width: 768px) and (min-width: 300px) {
  * {
    margin: 0;
    padding: 0;
  }

  .text-center {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    height: 100%;
    width: 100%;
}


  .movies img{
    margin-top: 5px;
  }

  .col-md-4 {
    margin-top: 20px;
  }
}